<div class="top_menu">
    <% unless user_signed_in? %>
            <h2 class="top_message">登録してくじ引きに参加しよう！</h2>
            <nav class="global-nav">
                    <li class="menu_btn_top">
                         <%= link_to 'ログイン', new_user_session_path, method: :get %>
                    </li>
                    <li class="menu_btn_top">
                        <%= link_to '新規登録', new_user_registration_path, method: :get %>
                    </li>
            </nav>
    <% else %>
    <div class="contents row">
    <p>※フォームに名前を入力して、くじに参加してください。</p>
        <%= form_for(@attendee) do |f| %>
        <div class="field">
            <%= f.text_field :name, placeholder: "名前を記入" %>
        </div>
        <div class="field">
            <%= f.submit "参加" %>
        </div>
    <% end %>
    <% end %>
</div>
</div>