<!DOCTYPE html>
<html>
  <head>
    <title>Lottery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="title"><a href="/attendees">Challengers' Lottery</a></h1>
        <% if user_signed_in? %>  
          <ul class="header_btn_area">
            <li class="header_menu_btn">
              <%= link_to "抽選を開始", "/numbers" %>
            </li>
            <li class="header_menu_btn">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <li class="header_menu_btn">
              <%= link_to "参加者一覧",attendees_path, method: :get %>
            </li>
          <ul>
        <% else %>
          <ul class="header_btn_area">
            <li class="header_menu_btn">
              <%= link_to "ログイン", new_user_session_path, class: "post" %>
            </li>
            <li class="header_menu_btn">
              <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            </li>
          </ul>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
